body {
    background-color: #121212;
    font-family: sans-serif
}

.navbar-dark {
    background-color: #121212
}

.nav-item {
    margin: 0 0.5rem
}

.main.container {
    color: white
}

.main.container a {
    color: white
}

.row {
    margin-bottom: 2rem
}

.card {
    position: relative;
}

.card:hover a {
    text-decoration: none;
}

.card,
.card-img-top {
    border: none;
    border-radius: 0;
}

.card-body {
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}

.card:hover .card-body {
    visibility: visible;
    opacity: 1;
}

.card-title {
    transition: .2s;
    transform: translateY(1em);
}

.card:hover .card-title {
    transform: translateY(0);
}

#temporaryBanner {
    text-align: center;
    padding: 5rem 3rem;
    background: #222;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
}

#searchInput {
    background-color: inherit;
    color: white;
    margin-bottom: 2rem;
    margin-top: 2rem
}

#closeSearchButton span {
    float: right;
    margin: 1rem 1rem 0 0
}

#closeSearchButton i {
    color: white
}

.search-result {
    color: white;
    display: block;
    margin: 1rem 0
}

.search-result:hover {
    color: white
}

.search-result img {
    border-radius: 0.25rem
}
